/* colors */



$color-text: #231f20;
$color-pink: #ec018a;
$color-orange: #ff8002;
$color-green-light: #8cc63f;
$color-green: #50a552;
$color-yellow: #ffcc00;
$primary-gradient: linear-gradient(to right, $color-pink 0%,  $color-orange 100%);

$color-grey-light: #f9f9f9;

$tablet-content-width: 747px;